<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>File Reader</title>
  <link rel="stylesheet" href="css/style.css">

</head>
<body>
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<div class="file-upload">
  <form action="/upload" method="POST" enctype="multipart/form-data">
  <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Upload files</button>
  <div class="image-upload-wrap">
    <input name="file" class="file-upload-input" onchange="this.form.submit()" type='file'/>
    <div class="drag-text">
      <h3>Drag and drop a file</h3>
    </div>
  </div>
  </form>

  <% if (data) { %>
  <div class="text-container">
    <h2>Uploaded File Info</h2>
    <h4>File Name :</h4> <%= data.name %> <br>
    <h4>Size :</h4>  <%= data.size %> <br>
    <h4>Mimetype :</h4>  <%= data.type %> <br>
    <h4>Number of pages :</h4> <%= data.number %> <br>
  </div>
  <% } %>

</div>
</body>
</html>
