<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>DarkCON's Meme Generator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="./style.css">

</head>
<body>

<h1>DarkCON's Meme Generator</h1>
<div class="box">
  <div>
    <div id="canvasWrapper">
    </div>
  </div>
  
  <div>
    <h3><i class="fa fa-picture-o fa-fw" aria-hidden="true"></i>Source Image</h3>
    <div class="box">
      <div>
        <p>From URL</p>
        <form action="/export", method="POST">
        <input name="url" id="imgURL" class="block" type="text" placeholder="Link to image" required />
      </div>
    </div>
    <h3><i class="fa fa-commenting-o fa-fw" aria-hidden="true"></i>Meme Text</h3>
    <div class="box">
      <div>
        <p>Top Text</p>
        <input name="upper" id="textTop" type="text" class="block" placeholder="Top text" required />
      </div>
      <div>
        <p>Bottom Text</p>
        <input name="bottom" id="textBottom" type="text" class="block" placeholder="Bottom text" required />
      </div>
    </div>
      <div>
        <h3><i class="fa fa-download fa-fw" aria-hidden="true"></i>Generate Meme</h3>
        <p>If the button doesn't work, right-click the image and save it</p>
        <button type="submit" id="export">Export!</button>
      </form>
      </div>
    </div>
  </div>
</div>
  <script  src="./script.js"></script>

</body>
</html>
