<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <style type="text/css">
          .center-screen {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 80vh;
        } 
        </style>
    </head>
<body>
<pre class="center-screen">
              .........
            .'------.' |       Plug and Hack
           | .-----. | |
           | |     | | |
         __| |     | | |;. _______________
        /  |*`-----'.|.' `;              //
       /   `---------' .;'              //
 /|   /  .''''////////;'               //
|=|  .../ ######### /;/               //|
|/  /  / ######### //                //||
   /   `-----------'                // ||
  /________________________________//| ||
  `--------------------------------' | ||
   : | ||      | || |__LL__|| ||     | ||
   : | ||      | ||         | ||     `""'
   n | ||      `""'         | ||
   M | ||                   | ||
     | ||                   | ||
     `""'                   `""'
</pre>

























<!--
      Dont know how to integrate this to the frontend so for now use cURL xD
      curl -XPOST -H "Content-Type: application/json" -d '{"username":"karma","password":"karma"}' http://web-crypto.darkarmy.xyz/register
      curl -XPOST -H "Content-Type: application/json" -d '{"username":"karma","password":"karma"}' http://web-crypto.darkarmy.xyz/login
      curl -XPOST -H "Content-Type: application/json" -d '{"token": "some_string", "filename": "some_string", "sig": "some_string"}' http://web-crypto.darkarmy.xyz/readfile
      
      ok take the example
      curl -XPOST -H "Content-Type: application/json" -d '{"token": "some string", "filename": "68696e742e747874", "sig":"e524127241021563a97661ef821d914fc838a942470f4ce9d3cbeaf75a666e01"}' http://web-crypto.darkarmy.xyz/readfile 
-->
    </body>
</html>
 


